.venv/
venv/
__pycache__/
*.pyc

.env

splunk-es-backup-toolkit/rules.sqlite
splunk-es-backup-toolkit/triage.db
*.db
*.sqlite
*.sql

Data/
Splunk_Exports/

soc-platform/
soc-platform.tar

splunk-es-backup-toolkit.old/

*.log
*.tmp
